body {
    padding: 0;
    margin: 0;
    border: 0;
    background: rgb(8, 8, 8);
    font: 100% arial, sans-serif, hevetica;
}

#urlT{
width: 1200px;
height: 45px;
border-radius: 0px;
border: 4px solid rgb(4, 224, 33);
box-shadow: 4px 4px 0px solid rgb(4, 224, 33);
font-family: inherit;
font-size: 15px;
margin-top: 30px;
}

#urlI{
    width: 1200px;
    height: 45px;
    border-radius: 0px;
    border: 4px solid rgb(4, 224, 33);
    box-shadow: 4px 4px 0px solid rgb(4, 224, 33);
    font-family: inherit;
    font-size: 15px;
    margin-top: 30px;
}

.main-label{
    font: 400 24px "Fira Code", monospace;
    text-align:  center;
}

.logo:hover{
    transform: scale(1.1);
}

    
